<body>
  <section class="hero  is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                  <h3 class="title has-text-grey">Signature Fun</h3>

                  <div class="box">
                      <form>
                         

                          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"></signature-pad>
                          <button class="button is-block is-info is-large is-fullwidth" (click)="drawComplete()">Complete Signature</button>
                      </form>
                  </div>

              </div>
          </div>
      </div>
  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>